# Composer
**/vendor/

# Node
**/node_modules/

# Logs
*.log

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Build
dist/
build/

# Composer lock (until we decide package strategy)
# composer.lock
