<?xml version="1.0"?>
<ruleset name="Project Atlas">

    <description>Project Atlas Coding Standards</description>

    <rule ref="WordPress"/>

    <config name="minimum_supported_wp_version" value="6.8"/>

    <exclude-pattern>vendor/*</exclude-pattern>

</ruleset>
